/* @import 'aos/dist/aos.css'; */

@import 'tailwindcss';

@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@theme {
    --font-*: initial;
    --font-red-hat: 'Red Hat Display', sans-serif;
    --font-dm-sans: 'DM Sans', sans-serif;

    --color-*: initial;
    --color-transparent: transparent;
    --color-current: currentColor;
    --color-primary: #20282d;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #5d666f;
    --color-gray-light: #f2f2f2;
    --color-border: #eaecf2;

    --breakpoint-2xl: 1572px;
    --breakpoint-xl: 1280px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 640px;

    --shadow-3xl:
        0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 -1px 4px 0 rgba(0, 0, 0, 0.15);

    --animate-customPulse: customPulse 3s linear infinite;
    --animate-customPingReverse: customPingReverse 4s infinite;
    --animate-customPing: customPing 3s infinite;
}
[x-cloak] {
    display: none !important;
}
@layer base {
    body {
        @apply text-gray font-dm-sans flex min-h-dvh flex-col !bg-white text-base font-normal antialiased;
    }
    button {
        @apply cursor-pointer;
    }
    textarea {
        @apply resize-none;
    }
}
@layer components {
    .container {
        @apply mx-auto px-4;
    }
    .section-heading {
        @apply space-y-4;
    }
    .section-heading h2 {
        @apply text-primary;
    }
    .section-heading h3 {
        @apply text-primary font-red-hat after:bg-primary relative inline-flex pb-4 text-2xl font-bold after:absolute after:bottom-0 after:left-1/2 after:h-0.5 after:w-1/3 after:-translate-x-1/2 md:text-3xl xl:text-4xl;
    }
}
@layer utilities {
    svg.lucide {
        @apply size-5;
    }
    .nav-link {
        @apply text-primary after:bg-primary relative py-2 font-semibold transition after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:transition-[width] hover:after:w-full lg:py-8;

        &.active {
            @apply after:w-full;
        }
    }
    .footer-link {
        @apply hover:text-primary relative flex items-center gap-2 duration-300 hover:translate-x-1;
    }
    @keyframes customPing {
        0% {
            transform: scale(1) rotate(0deg);
            opacity: 1;
        }
        50% {
            transform: scale(1.1) rotate(180deg);
            opacity: 0.7;
        }
        100% {
            transform: scale(1) rotate(360deg);
            opacity: 1;
        }
    }
    @keyframes customPingReverse {
        0% {
            transform: scale(1) rotate(0deg);
            opacity: 1;
        }
        25% {
            transform: scale(1.1) rotate(-90deg);
            opacity: 0.7;
        }
        50% {
            transform: scale(1) rotate(-180deg);
            opacity: 1;
        }
        75% {
            transform: scale(1.1) rotate(-270deg);
            opacity: 0.7;
        }
        100% {
            transform: scale(1) rotate(-360deg);
            opacity: 1;
        }
    }
}
/* 
@utility form-input {
    @apply border-border placeholder:text-gray focus:border-primary text-primary w-full bg-white px-4 py-2.5 text-base/5 placeholder:font-normal focus:ring-0 focus:outline-none;
}
@utility form-textarea {
    @apply border-border placeholder:text-gray focus:border-primary text-primary bg-white px-4 py-2.5 text-base/5 placeholder:font-normal focus:ring-0 focus:outline-none;
} */

/* @utility btn {
    @apply after:bg-gray-light bg-primary hover:text-primary relative inline-flex shrink-0 items-center justify-center rounded-lg px-4 py-2 text-sm font-medium text-white after:absolute after:-bottom-px after:left-1/2 after:size-0 after:-translate-x-1/2 after:rounded-lg after:duration-300 hover:shadow-sm hover:after:h-[calc(100%+2px)] hover:after:w-[calc(100%+2px)] lg:rounded-xl lg:px-6 lg:py-3 lg:text-base lg:after:rounded-xl;

    &.btn-secondary {
        @apply after:bg-primary bg-gray-light text-primary hover:text-white;
    }
    & span {
        @apply relative z-1 flex items-center justify-center gap-1.5 transition;
    }
} */
.testimonialSlider .testimonialSlider-pagination {
    @apply !absolute !bottom-0 !left-1/2 !flex !w-auto !-translate-x-1/2 !gap-4;
}
.testimonialSlider .testimonialSlider-pagination .swiper-pagination-bullet {
    @apply !bg-primary !mx-0 !size-2 !rounded-none !border-0;
}
.testimonialSlider
    .testimonialSlider-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-primary;
}

@keyframes upDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
}
.up-down {
    animation: upDown 3s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}

.LogoSwiper .swiper-wrapper {
    transition-timing-function: linear !important;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes customPulse {
    0%,
    100% {
        opacity: 0.06;
    }
    50% {
        opacity: 0.13;
    }
}

@utility prose {
    @apply text-gray text-left;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-red-hat text-primary mt-6 mb-2.5 font-semibold lg:mt-8 lg:mb-4;
    }
    p {
        @apply text-gray mt-0 mb-4 text-base/5.25 lg:text-lg/6;
    }

    h3 {
        @apply text-2xl/8;
    }
    h4 {
        @apply mb-2.5 text-xl/6.5;
    }
    h5 {
        @apply mt-2.5! mb-1.5 lg:mt-4;
    }
    h2 {
    }
    ul {
        @apply mt-4;
    }
    ul > li {
        @apply text-gray marker:text-gray mt-0 mb-2 ps-0 font-normal marker:text-base/5! lg:text-lg/6;
    }
    a {
        @apply text-primary inline-block no-underline underline-offset-3 transition hover:underline lg:text-lg/6.5;
    }
    ol {
        @apply marker:text-primary marker:text-[22px] marker:font-medium [&>li]:pb-4;
    }

    blockquote {
        @apply border-border bg-gray-light text-gray my-8 border-l-4 p-6 text-base/6 font-medium lg:text-xl/6.5 [&_svg]:mb-2.5 [&_svg]:size-8!;
    }
    img {
        @apply m-0 h-75 rounded-2xl object-cover [img]:inline lg:[img]:nth-of-type-[2]:mt-0;
    }
}
